n8n-workflows/comments-moderation.json
{
  "name": "comments-moderation",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        180,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{$env.PORTAL_API_BASE || \"https://example.com\"}}/api/v1/comments/pending"
      }
    },
    {
      "id": "3",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status || \"pending\"}}",
              "operation": "equal",
              "value2": "pending"
            }
          ]
        }
      }
    },
    {
      "id": "4",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        920,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.PORTAL_API_BASE || \"https://example.com\"}}/api/ai/prompt/comments-moderator",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{ { variables: { title: $json.articleTitle || \"Komentarz\", comment: $json.body || \"\" } } }}"
      }
    },
    {
      "id": "5",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        380
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{$env.SLACK_CHANNEL || \"#redakcja\"}}",
        "text": "={{\"Komentarz nie wymaga moderacji: \" + ($json.id || \"brak\")}}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "active": false,
  "versionId": "comments-moderation-v1"
}