n8n-workflows/content-audit-monthly.json
{
  "name": "content-audit-monthly",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        180,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.PORTAL_API_BASE || \"https://example.com\"}}/api/rag/find-duplicates",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{ { slug: $json.slug || \"\" } }}"
      }
    },
    {
      "id": "3",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{$env.SLACK_CHANNEL || \"#redakcja\"}}",
        "text": "={{JSON.stringify($json)}}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "active": false,
  "versionId": "content-audit-monthly-v1"
}