n8n-workflows/ingest-rss-tvp.json
{
  "name": "ingest-rss-tvp",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        180,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "url": "={{$json.feedUrl || \"https://example.com/rss.xml\"}}"
      }
    },
    {
      "id": "3",
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "functionCode": "return items.filter(item => JSON.stringify(item.json).match(/Izbica|Kujawy/i));"
      }
    },
    {
      "id": "4",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.PORTAL_API_BASE || \"https://example.com\"}}/api/articles",
        "sendBody": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { title: $json.title, content: $json.contentSnippet || $json.content, source: $workflow.name } }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "active": false,
  "versionId": "ingest-rss-tvp-v1"
}