n8n-workflows/seo-indexnow.json
{
  "name": "seo-indexnow",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        300
      ],
      "parameters": {
        "path": "seo-indexnow",
        "responseMode": "lastNode",
        "httpMethod": "POST"
      }
    },
    {
      "id": "2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{$env.SOURCE_URL || \"https://example.com/api\"}}"
      }
    },
    {
      "id": "3",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "workflow",
              "value": "seo-indexnow"
            },
            {
              "name": "summary",
              "value": "Przy publikacji wysyła ping IndexNow do Bing/Yandex"
            }
          ]
        }
      }
    },
    {
      "id": "4",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.PORTAL_API_BASE || \"https://example.com\"}}/api/incoming",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{ { source: $json.workflow, payload: $json } }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "active": false,
  "versionId": "seo-indexnow-v1"
}