n8n-workflows/social-publish-twitter.json
{
  "name": "social-publish-twitter",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        300
      ],
      "parameters": {
        "path": "social-publish-twitter",
        "responseMode": "lastNode",
        "httpMethod": "POST"
      }
    },
    {
      "id": "2",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tweet",
              "value": "={{$json.title || \"Nowy artykuł na Izbica24\"}}"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "resource": "tweet",
        "operation": "create",
        "text": "={{$json.tweet}}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "active": false,
  "versionId": "social-publish-twitter-v1"
}