n8n-workflows/social-publish-fb.json
{
  "name": "social-publish-fb",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        300
      ],
      "parameters": {
        "path": "social-publish-fb",
        "responseMode": "lastNode",
        "httpMethod": "POST"
      }
    },
    {
      "id": "2",
      "name": "Facebook Graph API",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "resource": "post",
        "operation": "getAll",
        "pageId": "={{$env.FACEBOOK_PAGE_ID || \"page_id\"}}"
      }
    },
    {
      "id": "3",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{$json.title || $json.message || \"Nowy wpis z Izbicy\"}}"
            }
          ]
        }
      }
    },
    {
      "id": "4",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.PORTAL_API_BASE || \"https://example.com\"}}/api/articles",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{ { title: $json.message, source: $workflow.name } }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "active": false,
  "versionId": "social-publish-fb-v1"
}