n8n/workflows/04-facebook-gmina-izbica.json
{
  "name": "04 Facebook — Gmina Izbica",
  "nodes": [
    {
      "id": "node_1",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */30 * * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node_2",
      "name": "Fetch Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/GminaIzbicaKujawska/posts?fields=id,message,created_time,permalink_url&access_token={{ $env.FACEBOOK_ACCESS_TOKEN }}",
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node_3",
      "name": "Normalize payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Normalize Facebook page posts\nconst crypto = require('crypto');\nconst out = [];\nconst fb = items[0].json.data || [];\nfor (const post of fb) {\n  if (!post.message) continue;\n  const url = post.permalink_url || ('https://facebook.com/' + post.id);\n  const hash = crypto.createHash('sha256').update(post.id).digest('hex');\n  out.push({\n    json: {\n      source: \"fb_gmina_izbica\",\n      category: \"samorzad\",\n      title: post.message.split('\\n')[0].slice(0, 150),\n      content: post.message,\n      url,\n      published_at: post.created_time,\n      external_id: post.id,\n      hash,\n      idempotency_key: hash,\n      priority_score: 5,\n      is_duplicate: false,\n    },\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "node_4",
      "name": "IF not duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        950,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ !$json.is_duplicate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node_5",
      "name": "POST /incoming",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.IZBICA24_BASE_URL }}/wp-json/iz24/v1/incoming",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.IZBICA24_API_TOKEN }}"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{ $json.idempotency_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node_6",
      "name": "Log cost",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1450,
        200
      ],
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "cost_log",
        "columns": {
          "values": {
            "values": [
              {
                "column": "workflow_id",
                "value": "={{ $workflow.id }}"
              },
              {
                "column": "execution_id",
                "value": "={{ $execution.id }}"
              },
              {
                "column": "service",
                "value": "scrape"
              },
              {
                "column": "prompt_slug",
                "value": "={{ $json.prompt_slug || null }}"
              },
              {
                "column": "tokens_in",
                "value": "={{ $json.tokens_in || 0 }}"
              },
              {
                "column": "tokens_out",
                "value": "={{ $json.tokens_out || 0 }}"
              },
              {
                "column": "cost_usd",
                "value": "={{ $json.cost_usd || 0 }}"
              },
              {
                "column": "success",
                "value": "={{ $json.success !== false }}"
              }
            ],
            "mappingMode": "defineBelow"
          }
        }
      }
    },
    {
      "id": "node_7",
      "name": "Notify error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={ \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"⚠️ Workflow {{ $workflow.name }} error: {{ $json.error || 'unknown' }}\", \"parse_mode\": \"HTML\" }"
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Fetch Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Facebook": {
      "main": [
        [
          {
            "node": "Normalize payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize payload": {
      "main": [
        [
          {
            "node": "IF not duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF not duplicate": {
      "main": [
        [
          {
            "node": "POST /incoming",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /incoming": {
      "main": [
        [
          {
            "node": "Log cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "Europe/Warsaw",
    "errorWorkflow": ""
  },
  "tags": [
    {
      "name": "izbica24"
    },
    {
      "name": "cat:samorzad"
    }
  ],
  "meta": {
    "description": "Pobiera posty ze strony FB Gminy Izbica Kujawska (Graph API) co 30 min.",
    "izbica24_id": "04",
    "izbica24_slug": "facebook-gmina-izbica"
  },
  "versionId": "1",
  "triggerCount": 1,
  "pinData": {}
}